*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(22, 21, 21);
}

.container{
    background-color: rgb(38, 44, 51);
    margin-top: 95px;
    margin-left: 520px;
    margin-right: 520px;
    border-radius: 12px;
}

.child-container{
    padding: 10px 13px;
}

.star{
    background-color: rgb(22, 21, 21);
    border-radius: 20px;
    width: 5.5%;
    height: 0.3%;
    padding: 5px;
    text-align: center;
}

.text{
    font-size: large;
    font-weight: bolder;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text2{
    font-weight: 100;
    font-size: 13px;
    color: rgb(146, 164, 182);
    margin-bottom: 13px;
}

.rating{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: rgb(146, 164, 182);
}

.number-list{
    background-color: rgb(22, 21, 21);
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.number-list:hover{
    background-color: rgb(158, 155, 155);
    color: black;
    transition: 0.7s;
    cursor: pointer;
}

.number-list.active{
    background-color: rgb(158, 155, 155);
    color: black;
    transition: 0.7s;
    cursor: pointer;
}

.button{
    text-align: center;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 7px 9px;
    border-radius: 25px;
    cursor: pointer;
}

.code{
    text-align: center;
    color: white;
    font-size: 8px;
    margin-top: 15px;
}

.code a{
    color: rgb(82, 133, 184);
}

.hidden-container{
    background-color: rgb(38, 44, 51);
    margin-top: 95px;
    margin-left: 520px;
    margin-right: 520px;
    border-radius: 12px;
}

.hidden-child-container{
    padding: 10px 13px;
}

.respose-icon{
    text-align: center;
    margin-top: 15px;
}

.rating-text{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text3{
    font-size: large;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text4{
    font-weight: 100;
    font-size: 13px;
    color: rgb(146, 164, 182);
    text-align: center;
    margin-bottom: 15px;
}

/* Mobile first approach is advisable. So use the dev tools in your browser to display webpage in mobile view so you can style it in mobile view. */
/* Write all mobile styling in the base of your CSS file before considering writing media queries for the following screensizes 

Please remember to avoid fixed width and height as much as possible, use % or vw or vh as units for height and width as much as you can. This will improve responsivenes
*/

@media only screen and (min-width: 768px) {
    /* Write styling for the 768px breakpoint and above. Remember that this is the beginning of your desktop styling and not all styling must be perfect here. There are more breakpoints that you can use to style higher screen sizes */
}


@media only screen and (min-width: 1366px) {
    /* Write styling for 1366px if there's anything that requires fixing at this breakpoint */
}


@media only screen and (min-width: 1440px) {
    /* write styling for this breakpoint only if there is any element that needs fixing */
}

/* After writing all your CSS.MAke sure you checck for responsiveness by manually dragging your browser screen width. Add a breakpoint that needs fixing and fix its styling */